body {
  background-color: #002736;
  padding: 0;
  margin: 0;
}

#website {
  display: flex;
  flex-direction: column;
}

.container {
    width: 1440px;
    height: 800px;
    margin: 20px auto;
    background-color: #00a3df;
    border-radius: 20px;
    position: relative;
    color: #FFFFFF;
    font-family: IBM Plex Sans;
    display: flex;
    flex-direction: column;
}

#box6 {
  height: 2200px;
}

.container_arrow {
  height: 100%;
  width: 100%;
  object-fit: contain;
  opacity: 50%;
  position: absolute;
  bottom: 30px;
  animation-name: stock-increase;
  animation-duration: 2s;
}

#box1 {
  overflow: hidden;
}

h1 {
  font-size: 128px;
  text-align: center;
}

h2 {
  font-family: 'Overpass', sans;
  font-size: 96px;
  text-align: center;
}

h3 {
  font-family: 'Overpass', sans;
  font-size: 64px;
  text-align: center;
}

h4 {
  font-family: 'Overpass', sans;
  font-size: 48px;
  text-align: center;
  display: flex;
  flex-direction: horizontal;
}

p {
  font-family: 'Overpass', sans;
  font-size: 36px;
  text-align: center;
}


#box1 h1 {
  padding: 200px 0;
}

#sp500 {
  width: 720px;
  height: 300px;
  border-left: 4px solid #FFFFFF;
  border-bottom: 4px solid #FFFFFF;
  margin: auto;
  display: block;
}

.graph-container {
  width: 1200px;
  height: 800px;
  padding: 40px;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#box6 {
  align-items: center;
  justify-content: center;
}

#myText1, #myText2, #myText3 {
  font-size: 36px;
  text-align: center;
  color: #FFFFFF;
  background-color: #002736;
  border: 0px;
  border-radius: 12px;
}

#myText1:hover, #myText2:hover, #myText3:hover {
  background-color: #015575;
}

#myText1:hover + .tooltiptext, #myText2:hover + .tooltiptext, #myText3:hover + .tooltiptext{
  visibility: visible;
}

#submit_button {
  font-family: 'Overpass', sans;
  font-size: 48px;
  color: #FFFFFF;
  background-color: #002736;
  border: 0px;
  border-radius: 12px;
}

#submit_button:hover {
  background-color: #015575;
  cursor: pointer;
}

h1 {
  font-family: 'Lobster', display;
  animation-duration: 3s;
  animation-name: appear;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

h4 .tooltiptext {
  visibility: hidden;
  width: 400px;
  background-color: #015575;
  color: #FFFFFF;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  font-size: 12px;

  position: absolute;
  z-index: 1;
}

mark.red {
  color:#ff0000;
  background: none;
}

mark.green {
  color:#00FF00;
  background: none;
}

#big-text:hover {
  animation-name: grow;
  animation-duration: 1s;
  cursor: default;
  transform: scale(1.2);
}

#big-text {
  animation-name: reverse-grow;
  animation-duration: 1s;
  transform: scale(1);
}

#small-text:hover {
  animation-name: shrink;
  animation-duration: 1s;
  cursor: default;
  transform: scale(0.7);
}

#small-text {
  animation-name: reverse-shrink;
  animation-duration: 1s;
  transform: scale(1);
}

@keyframes grow {
  from {
    transform: scale(1)
  }
  to {
    transform: scale(1.2)
  }
}

@keyframes shrink {
  from {
    transform: scale(1)
  }
  to {
    transform: scale(0.7)
  }
}

@keyframes reverse-grow {
  from {
    transform: scale(1.2)
  }
  to {
    transform: scale(1)
  }
}

@keyframes reverse-shrink {
  from {
    transform: scale(0.7)
  }
  to {
    transform: scale(1)
  }
}


@keyframes stock-increase {
  from {
    transform: translate(-100%,100%);
  }
  to {
    transform: translate(0%,0%);
  }
}
