body {
    font-family: Karla, sans-serif;
    color: #484848;
}

nav ul {
    list-style-type: none;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

header {
    background-color: #FF5A5F;
    margin: 0;
    padding: 0;
}

#logo {
    height: 80px;
}

nav {
    display: inline-block;
    float: right;
}
nav li {
    display: inline-block;
    margin-left: 40px;
    line-height: 80px;
}

nav a {
  color: white;
  font-size: 18px;
  text-decoration: none;
  cursor: pointer;
}

nav a:visited {
  color: white;
  font-size: 18px;
  text-decoration: none;
  cursor: pointer;
}

nav a:hover {
    text-decoration: underline;
}

.content {
    width: 900px;
    margin: auto;
}

section {
    padding: 10px;
    border: 1px solid #cccccc;
    margin-bottom: 15px;
    text-align: center;
}

section img {
    width: 550px;
}

h1 {
    font-size: 38px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

h2 {
    font-size: 35px;
    text-align: center;
}

section p {
    font-size: 15px;
    text-align: center;
}
