body {
    margin: 0;
    padding: 0;
    background-color: #2C5F2D;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 1px;
    background-color: rgba(152,251,152,1);
    /* Make the header stick to the top as you scroll */
    position: fixed;
    z-index: 1;
}

.content {
    width: 800px;
    /* Align the page content to the center of the screen */
    margin: auto;
}

#image-banner {
    background-image: url('../img/italianfood.png');
    background-size: cover;
    width: 100%;
    height: 900px;
    top: 0px;
    left: 0px;
    opacity: 0.75;
    z-index: 2;
}

#title {
  text-align: center;
  font-family: 'Playfair Display';
  font-size: 40px;
}

h1 {
  font-family: 'Oswald', serif;
  font-size: 45px;
}

h2 {
  font-family: 'Playfair Display', serif;
  font-size: 36px;
}

h3 {
  font-family: 'Playfair Display', serif;
  font-size: 32px;
}

h4 {
  font-family: 'Playfair Display', serif;
  font-size: 24px;
}

p {
  font-family: 'Playfair Display', serif;
  font-size: 15px;
}

#logo {
  width: 100px;
  height: auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: white;
  font-size:40px;
  transition: all 500ms;
}

.menu {
  display: flex;
  gap: 1em;
  font-size: 25px;
}

.menu li {
  margin-right: 25px;
}


#map {
  width: 50%;
  height: auto;
}

#doordash {
  width: 25%;
  height: auto;
  position: absolute;
  left: 37%;
  top: 90%;
}

#doordash:hover {
  transform: scale(1.5);
  cursor: pointer;
  transition: all 500ms;
}

#image-banner h1{
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
  color: black;
}

#image-banner p{
  position: absolute;
  left: 50%;
  top: 70%;
  transform: translate(-50%, -50%);
  color: black;
  text-align: center;
  font-size: 32px;
}

#image-banner #crown{
  position: absolute;
  left: 50%;
  top: 53%;
  transform: translate(-50%, -50%);
  opacity: 0.5;
  width: 16%;
  height: auto;
}

#bottom {
  margin-top: 20px;
  border-top: 5px solid #CC313D;
}

#bottom p{
  display: flex;
  justify-content: center;
}

#gypsy {
  width: 50%;
  height: auto;
}
