/* ADD ANY LINES OF CODE YOU DEEM NECESSARY FOR QUESTION 2*/

#ball {
    display: block;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: #fd6c2d;
    z-index: 1;
    transform: translateY(-200px);
}

#shadow {
    height: 50px;
    width: 160px;
    background: black;
    opacity: 0.5;
    border-radius: 50%;
}

#ball, #shadow {
    position: relative;
    margin: 0 auto;
    top: 50%;
}

body, html {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0px;
    height: 100%;
    width: 100%;
    background: #f7f5f2;
    position: relative;
}

#ball{
  animation: bounce 0.45s infinite;
  transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
  animation-direction: alternate;
}

#shadow{
  animation: rise 0.45s infinite;
  transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
  animation-direction: alternate;
}

@keyframes rise {
  from {
    transform: scale(1);
    opacity: 0.5;
  }
  to {
    transform: scale(0.5);
    opacity: 0.6;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(30px);
}
